@import 'tailwindcss';

:root {
  color-scheme: dark;
}

/* body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'Inter', sans-serif;

  background: radial-gradient(
    circle at top,
    #0f172a 0,
    #020617 40%,
    #000000 100%
  );
  color: #f9fafb;
} */
body {
  background: transparent !important;
}

.section-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-grid {
  background-image: linear-gradient(
      to right,
      rgba(148, 163, 184, 0.12) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(148, 163, 184, 0.12) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* TODO: TEAM CSS :  */
.animated-bg {
  position: relative;
  overflow: hidden;
}

.animated-bg::before,
.animated-bg::after {
  content: '';
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.4;
  animation: float 14s ease-in-out infinite alternate;
}

.animated-bg::before {
  top: -200px;
  left: -200px;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 1),
    rgba(15, 23, 42, 0.4)
  );
  animation-duration: 18s;
}

.animated-bg::after {
  bottom: -250px;
  right: -250px;
  background: radial-gradient(
    circle,
    rgba(249, 115, 22, 1),
    rgba(15, 23, 42, 0.3)
  );
  animation-duration: 22s;
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(-40px) translateX(25px);
  }
}
/* .text-shadow-gold {
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.6), 0 0 25px rgba(255, 165, 0, 0.4);
} */
.glow-text {
  color: #ffffff;
  text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 25px rgba(255, 215, 0, 0.9),
    0 0 45px rgba(255, 200, 0, 0.8), 0 0 70px rgba(255, 180, 0, 0.7),
    0 0 90px rgba(255, 160, 0, 0.6), 0 0 120px rgba(255, 140, 0, 0.5);
}
